In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
#fetching the datasets
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
#Data Cleaning
ttrain=train.drop('Attrition',axis=1)

In [19]:
all_data = pd.concat((ttrain.loc[:,'Age':],
                      test.loc[:,'Age':]))

In [5]:
all_data = pd.get_dummies(all_data)

In [17]:
X_train = all_data[:train.shape[0]]
X_test = all_data[train.shape[0]:]
y = train.Attrition
X_test.head()

,Age,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,28,9,3,377,4,3,4,2070,1,23,...,0,0,1,0,0,0,1,0,1,0
1,31,6,4,653,1,4,4,5460,4,22,...,0,0,0,1,0,1,0,0,1,0
2,37,6,3,474,3,4,1,5974,4,13,...,0,0,1,0,0,1,0,0,0,1
3,42,1,2,827,4,2,4,6062,9,13,...,1,0,0,0,0,0,1,0,0,1
4,45,4,2,972,3,3,2,4447,1,12,...,0,0,0,0,0,0,1,0,1,0

In [8]:
from sklearn.linear_model import LinearRegression

In [10]:
LR=LinearRegression()
LR.fit(X_train,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
y_pred =LR.predict(X_test)

In [13]:
LR.score(X_test,y_pred)

1.0

In [25]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y, LR.predict(X_train))

0.882743613572999

0.882743613572999

In [22]:
# solution = pd.DataFrame({"id":test.Id, "Attrition":y_pred})
# solution.to_csv("Simple.csv", index = False)